/*
QR Attendy base on Website and WebApp lol
Develop by BELDAD-Ace on Github with the team group 1 for PR2
aka Jhon Benedict Belad

all rights reserved 2025

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* RANDOM ANTI TEXT SELECT GO */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*START OF Custom Title Bar*/

.window {
  color: white;
  position: sticky;
  width: 100%;
  height: 32px;
  background: #1d1d1d;
  display: flex;
  align-items: center;
  flex-direction: row;

  -webkit-app-region: drag;

  .title-bar-text {
    margin-left: 12px;
    font-size: 14px;
    color: var(--bg-clr-primary);
  }

  .title-bar-controls {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    -webkit-app-region: no-drag;

    button {
      background-color: #1d1d1d;
      color: white;
      transition: 150ms ease-in-out;

      width: 46px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      border: none;

      &:hover {
        background-color: #545454;
      }

      &:last-child:hover {
        background: #ff0000;
      }
    }
  }
}

/*END OF Custom Title Bar*/

.app-info {
  text-align: center;
}

.NOTICE-EXP {
  color: red;
}

.SOON {
  text-align: center;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  overflow: hidden;
}

main {
  overflow: none;
  position: absolute;
  bottom: 0;
  top: 32px;
  left: 0;
  right: 0;
}

:root {
  /* main */
  --bg-main-body-clr: #efefef;

  --bg-sidebar-clr: linear-gradient(162deg, cyan 0%, white 15%);

  /* specifically for containers lolz */
  --shadow-clr: rgba(0, 0, 0, 0.2);
  --shadow-inverse-clr: rgba(255, 255, 255, 0.2);
  /* sidebar */
  --sidebar-txt-clr: #000000;
  --sidebar-txt-inverse-clr: #ffffff;
  --sidebar-svg-clr: #000000;
  --sidebar-active-clr: #00000023;
  --sidebar-hover-clr: #c8c8c879;

  --QRimage-border-bg-clr: #000000;
  --QRbutton-bg-clr: #b6b6b6;
  --Qrbutton-hover-bg-clr: #9e9e9e;

  /* Table (Universal) */
  --tableTr-bg-clr: #ffffff;
  --tableTboy-bg-clr: #e4e4e4;

  /* dashboard */
  --dash-txt-clr: #000000;
  --dash-inverse-txt-clr: #ffffff;
  --dash-svg-clr: #000000;
  --dash-pfCard-bg-clr: #eaeaea;
  --dashContainer-bg-clr: #d6d6d6;
  --dashStat-numberin-bg-clr: #f2f2f2;

  /* Attendance  */
  --options-bg-clr: #c2c2c2;
  --addStudent-btn-bg-clr: #969696;
  --addStudent-btn-hover-bg-clr: #757575;

  --outSetter-bg-clr: #bcbcbc;

  /* Calendar */
  --dayCell-bg-clr: #ffffff;
  --dayCell-outline-clr: #2b7ae4;
  --dayCell-selected-bg-clr: linear-gradient(180deg, #eaf4ff, #d8eefe);

  --listStudentCalendar-option-bg-clr: #e4e4e4;
}

/* =========================================================== */
/* BASED THEME (White theme mode) */
/* =========================================================== */

main,
body {
  background-color: #efefef;
}

#side-bar {
  background: var(--bg-sidebar-clr);

  .sub,
  .sub2 {
    color: var(--sidebar-txt-clr);
  }

  svg {
    fill: var(--sidebar-svg-clr);
  }

  li {
    a {
      color: var(--sidebar-txt-clr);
    }

    &.active {
      background-color: var(--sidebar-active-clr);
    }

    &:hover:not(:first-child) {
      background-color: var(--sidebar-hover-clr);
    }
  }

  #QR-main {
    &:hover {
      background-color: transparent;
    }

    .QR-container {
      .qr-image-container {
        border: 2px solid var(--QRimage-border-bg-clr);
        box-shadow: -10px 0px 15px var(--shadow-clr);
      }
    }

    .button-qr-container {
      button {
        border: none;
        background-color: var(--QRbutton-bg-clr);
        color: var(--sidebar-txt-clr);

        &:hover {
          background-color: var(--Qrbutton-hover-bg-clr);
        }
      }
    }
  }

}

/* Table (Universal) */

table {
  box-shadow: -7px 4px 19px var(--shadow-clr);

  tr {
    background-color: var(--tableTr-bg-clr);
  }

  tbody {

    tr,
    td {
      background-color: var(--tableTboy-bg-clr);
    }
  }
}

.sub-dashboard-container {
  color: var(--dash-txt-clr);

  .profile-card {
    background-color: var(--dash-pfCard-bg-clr);
    box-shadow: -7px 4px 19px var(--shadow-clr);

    #notificaton {
      svg {
        fill: var(--dash-svg-clr);
      }
    }

    .profile-info {
      color: var(--dash-txt-clr);
    }
  }
}

/* Containers */
.dashboard-container {
  .stat-dash-container {
    background-color: var(--dashContainer-bg-clr);

    .numbering {
      background-color: var(--dashStat-numberin-bg-clr);
    }
  }

  .tableOf-Students,
  .tableOf-mostPresent {
    background-color: var(--dashContainer-bg-clr);
  }

}

/* Attendance Table Container */
.attendance-table-container {
  background-color: var(--dashContainer-bg-clr);
  box-shadow: -7px 4px 19px var(--shadow-clr);

  .options {
    background-color: var(--options-bg-clr);
    box-shadow: -7px 4px 19px var(--shadow-inverse-clr);

    #add-student {
      background-color: var(--addStudent-btn-bg-clr);
      color: var(--dash-inverse-txt-clr);
      border: 0.5px solid;

      &:hover {
        background-color: var(--addStudent-btn-hover-bg-clr);
      }
    }

    .out-setter {
      background-color: var(--outSetter-bg-clr);
      box-shadow: -7px 4px 19px var(--shadow-inverse-clr);

    }
  }
}

/* calendar */

.calendar-grid .day-cell {
  box-shadow: -5px 1px 4px var(--shadow-clr);
  background: var(--dayCell-bg-clr);

  &.today {
    outline: 2px solid var(--dayCell-outline-clr);
  }
}

.day-mark {
  color: #333;
}

.day-cell.selected {
  background: var(--dayCell-selected-bg-clr);
  outline: 2px solid var(--dayCell-outline-clr);
  box-shadow: 0 6px 12px var(--shadow-clr);
}

.calendar-X-stat-container {
  box-shadow: -7px 4px 19px var(--shadow-clr);
  background-color: var(--dashContainer-bg-clr);
}

.list-student-calendar-container {
  box-shadow: -7px 4px 19px var(--shadow-clr);
  background-color: var(--dashContainer-bg-clr);

  .option-caption {
    background-color: var(--listStudentCalendar-option-bg-clr);
  }
}


/* ========================================== */
/* miscellaneous */
/* ========================================== */

.loading-interface {
  transition: all 0.5S ease-in-out;
  opacity: 0;
  position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.872);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .loader {
    box-shadow: #0097b2 0px 0px 15px;
    border: 8px solid #d4d4d4;
    border-top: 8px solid #494949;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: loader 2s linear infinite;
  }

  p {
    font-weight: bold;
    padding: 15px;
    color: white;
  }
}

.loading-interface-dash {
  transition: all 0.6s ease-in-out;
  opacity: 0;
  position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #494949;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;

  img {
    opacity: 1;
    -webkit-user-drag: none;
    /* Chrome, Safari, Edge */
    -webkit-user-select: none;
    /* Chrome, Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard */
    width: 150px;
    filter: drop-shadow(20px 20px 20px black);

    animation: loadingLogo 5s ease-in-out infinite 1s;

  }
}